body {
    box-sizing: border-box;
    background-color: indianred;
}

#shapes {
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90vw;
    justify-content: flex-start;
    align-content: center;
    */


    height: calc(100%);
    max-width: calc(80%);
}

#shapes div.card {
    float:left;
    cursor: pointer;
    box-shadow: 4px 4px 4px darkgray;
}

#shapes div.card:hover {
    box-shadow: 4px 4px 4px darkgreen;
}
#shapes div.card.selected {
    box-shadow: 4px 4px 4px blue;
    background-color: lightgreen;
}

#shapes br {
    clear:both;
}

#shapes div.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    height:300px;
    width:150px;
    border-radius: 5px 5px 5px 5px;
    margin: 10px;

}

div.card svg {
    height: 100px;
    width: 140px;
}
