/*
Stroking colors
 */
.shape.purple { stroke: purple; }
.shape.red    { stroke: red; }
.shape.green  { stroke: green; }

svg .shape ,
svg .shape {
    stroke-width: 3;
}

/*
 Striped fills
 */

.shape.striped.purple { fill: url(#stripes-purple);}
.shape.striped.red    { fill: url(#stripes-red);}
.shape.striped.green  { fill: url(#stripes-green);}

/*
 Solid fills
 */

.shape.solid.purple { fill: purple;}
.shape.solid.red    { fill: red;}
.shape.solid.green  { fill: green;}

/*
 No Fills (hollow)
 */

.shape.hollow {
    fill: white;
}

#hints {
    border-collapse: collapse;
}

#hints td {
    border: 1px solid black;
}

.vshape {

}
