body {
    font-family: sans-serif;
}

div#container table {
    border-collapse: collapse;
}

div#container table td {
    border:1px solid gray;
}

td.poster img {
    max-height:128px;
}

td.poster img:hover {
    max-height:256px;
}