<P class="naaminfo">Dit is onze eerste website</P>

<!--<app-naam-informatie achternaam="Molema" voornaam="Martin"></app-naam-informatie>-->
<app-naam-informatie [voornaam]="voornaam1" [achternaam]="achternaam1"></app-naam-informatie>
<app-naam-informatie [voornaam]="achternaam1" [achternaam]="voornaam1"></app-naam-informatie>
<app-naam-informatie [voornaam]="voornaam1" [achternaam]="achternaam1"></app-naam-informatie>
<app-naam-informatie [voornaam]="voornaam1" [achternaam]="achternaam1"></app-naam-informatie>
<app-naam-informatie [voornaam]="voornaam1" [achternaam]="achternaam1"></app-naam-informatie>
<app-naam-informatie [voornaam]="voornaam1" [achternaam]="achternaam1"></app-naam-informatie>
