<div class="dataentrycontainer">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit($event, formGroup)">
    <mat-form-field>
      <mat-label>Voornaam</mat-label>
      <input matInput placeholder="Voornaam" type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Achternaam</mat-label>
      <input matInput placeholder="Achternaam" type="text" formControlName="surName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" type="text" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>e-mail address</mat-label>
      <input matInput placeholder="Username" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select placeholder="Select" formControlName="description">
        <mat-option value="M">Male</mat-option>
        <mat-option value="F">Female</mat-option>
        <mat-option value="X">I do not want to reveal</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Textarea" formControlName="firstName"></textarea>
    </mat-form-field>

    <div class="buttonbar">
      <button mat-button type="submit">Opslaan</button>
      <button mat-button type="reset">Opnieuw</button>
    </div>
  </form>
  <div *ngIf="errorList">
    <div *ngFor="let error of errorList">
      <P>{{error.fieldName}} => {{error.errorMessage}}</P>
    </div>
  </div>
</div>
