<div class="details" *ngIf="release">
  <table>
    <tr>
      <td class="label">Date:</td>
      <td class="value">{{release.date}}</td>
    </tr>
    <tr>
      <td class="label">Country:</td>
      <td class="value">{{release.country}}</td>
    </tr>
    <tr *ngIf="release.media">
      <td class="label">Media:</td>
      <td class="value"><span *ngFor="let media of release.media">{{media.format}} ( {{media["disc-count"]}}
        discs, {{media["track-count"]}} tracks)<br/>
    </span></td>
    </tr>
  </table>
  <app-image-list [images$]="images$" (onSelectImage)="imageSelected($event)"></app-image-list>
  <app-image-details [image]="selectedImage"></app-image-details>

</div>


