div.container div {
  float: left;
}


table.releases tr td {
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
}

div.details {
  border: 1px solid lightgray;
}

div.images {
  float: left;
}

div.images img {
  max-width: 256px;
}

div.largeimage {
  clear:both;
}

div.largeimage img {
  max-height: 500px;
}
