body {
    background-color:black;
    color:white;
}

h1 {
    font-family: sans-serif;
    font-size:15pt;
}

div.container {
    width:100%;
    clear: both;
    overflow-x:hidden;
}

div.container > P {
    font-size:34pt;

    font-family: sans-serif;
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
}

div.container > P > span {
    color:white;
    text-decoration-line: none;
    padding:10pt;
}

div.container > P > span:hover {
    background-color:lightgray;
    color:black;
    cursor: pointer;
}


img.logo {
    float:left;
}

/* The animation code */
@keyframes example {
    from {margin-left:0px}
    to {margin-left:2000px}
}

/* The element to apply the animation to */
body > div > p.clicked {
    animation-name: example;
    animation-duration: 4s;
    animation-fill-mode:forwards;
}