/*
Stroking colors
 */
.shape.violet { stroke: blueviolet; }
.shape.red    { stroke: red; }
.shape.green  { stroke: green; }

svg .shape ,
svg .shape {
    stroke-width: 3;
}

/*
 Striped fills
 */

.shape.striped.violet { fill: url(#stripes-violet);}
.shape.striped.red    { fill: url(#stripes-red);}
.shape.striped.green  { fill: url(#stripes-green);}

/*
 Solid fills
 */

.shape.solid.violet { fill: blueviolet;}
.shape.solid.red    { fill: red;}
.shape.solid.green  { fill: green;}

/*
 No Fills (hollow)
 */

.shape.hollow {
    fill: white;
}
