<div class="container" *ngIf="releases$">
  <div>
    <table class="releases">
      <thead>
      <th>Release</th>
      <th>Date</th>
      <th>Country</th>
      <th>Tracks</th>
      </thead>
      <tbody>
      <tr
        *ngFor="let release of releases$ | async"
        (click)="selectRelease($event, release)">
        <td>{{release.title}}</td>
        <td>{{release.date}}</td>
        <td>{{release.country}}</td>
        <td>{{release['track-count']}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <app-release-details [release]="selectedRelease"></app-release-details>


</div>
