table.releases {
  float:left;
  border:1px solid lightgrey;
}

table.releases tr td {
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
}

app-release-details {
  float:left;
  max-width: 800px;
}
